<h3 class="date">{{test_moment.date}}</h3>
<h5>{{join test_moment.courses}}</h5>
{{#each appointments}}
    <div class="timeSlot">
        <h6><span class="time">{{@key}}</span> ({{this.length}})</h6>
        <ul class="fa-ul">
            {{#each this}}
                <li data-app-id="{{this.id}}">
                    <a href="#" data-app-id="{{this.id}}"
                          class="cancel-inline float-right badge badge-secondary d-print-none d-none d-md-block">
                        annuleren
                    </a>
                    <span class="fa-li"><i class="far fa-square"></i></span>
                    <b class="name">{{this.student_name}}</b> ({{this.course}}) {{join this.tests}}

                </li>
            {{/each}}
        </ul>
    </div>
{{else}}
    <p>Geen afspraken op deze datum</p>
{{/each}}