<h3 class="date">{{test_moment.date}}</h3>
<h5>{{join test_moment.courses}}</h5>
{{#each appointments}}
    <div class="timeSlot">
        <h6 class="time">{{@key}}</h6>
        <ul>
            {{#each this}}
                <li class="appointment-listing" data-app-id="{{this.id}}"><b class="name">{{this.student_name}}</b> ({{this.course}})
                    {{join this.tests}}</li>
            {{/each}}
        </ul>
    </div>
{{else}}
    <p>Geen afspraken op deze datum</p>
{{/each}}